{% from "x-nhsuk/decorated/checkboxes/macro.njk" import checkboxes with context %}

{{ checkboxes({
  fieldset: {
    legend: {
      text: "How do you want to be contacted?"
    }
  },
  items: [{
    value: "email",
    text: "Email"
  }, {
    value: "phone",
    text: "Phone"
  }, {
    value: "text",
    text: "Text message"
  }],
  decorate: "contact-method"
}) }}
